/* Write your code here. */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    min-height: 100vh;
}

.heading {
    color: #f8fafc;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
}

.image {
    height: 150px;
    width: 150px;
}

@media screen and (min-width: 768px) {
    .heading {
        font-size: 64px;
    }

    .image {
        height: 300px;
        width: 300px;
    }
}